@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

header {
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 8%;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

header .fixed{
	position: fixed;
}

body {
	background: #eaeaea;
	
}

.overflow {
	overflow: hidden;
}

li{
	list-style: none;
}

/*LOGO LACTEUS*/
.logo {
	opacity: 0;
	animation: slideLogo 1s ease forwards;
	animation-delay: calc(.2s);
}

.navigation a{
	display: inline-block;
	font-size: 1.2rem;
	color: #222;
	text-decoration: none;
	font-weight: 500;
	margin: 0 20px;
	transition: .3s;
	opacity: 0;
	animation: slideNav 1s ease forwards;
	animation-delay: calc(.2s * var(--i));
}

.navigation a:hover,
.navigation a.active {
	color: #206CB3;
}

.social-media {
	display: flex;
	justify-content: space-between;
	width: 175px;
	height: 40px;
	transition: .3s;
	animation: slideSocial 1s ease forwards;
}

.social-media a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 20px;
	text-decoration: none;
	transition: .5s;
}

.social-media a:hover {
	border-color: #206CB3;
	background: #206CB3;
}

.social-media a i {
	font-size: 24px;
	color: black;
}
/*CORPO DA PÁGINA INICIAL*/
.home{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	margin-top: 10rem;
	padding: 50px 8% 0;
}

.home-content{
	max-width: 630px;
	opacity: 0;
	animation: slideLogo 1s ease forwards;
	animation-delay: calc(.2s);
}

.home-content img{
	display: none;
	z-index: -2;
}

.home-content h1 {
	font-size: 60px;
	line-height: 1.2;
}

.home-content h3 {
	font-size: 35px;
	color: #206CB3;
}

.home-content p {
	font-size: 16px;
	margin: 15px 0 30px;
	text-align: justify;
}

/*ANIMAÇÃO DOS BOTÕES*/
.btn {
	display: inline-block;
	padding: 10px 28px;
	background-color: #206CB3;
	border: 2px solid #206CB3;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
	font-weight: 600;
	transition: .5s;
}

.btn:hover {
	background: transparent;
	color: #206CB3;
}

.home .home-img {
	position: absolute ;
	width: 10rem;
	height: 10rem;
	left: 50rem;
	top: 10rem;
	z-index: -1;
	transition: .3s;
	animation: slideSocial 1s ease forwards;
}

.btn-menu {
	font-size: 2rem;
	cursor: pointer;
	display: none;
}

/*DROPDOWN MENU*/
.dropdown_menu{
	display: none;
	position: absolute;
	right: 4rem;
	top: 80px;
	width: 300px;
	height: 0;
	background: rgba(139, 141, 143, 0.1);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: 100;
}

.dropdown_menu.open{
	height: 350px;
}

.dropdown_menu a:hover,
.dropdown_menu a.active {
	color: #206CB3;
}
.dropdown_menu li{
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown_menu .btn {
	color: #FFF;
}

.dropdown_menu .btn:hover {
	background: transparent;
	color: #206CB3;
}

.dropdown_menu a{
	font-size: 1.2rem;
	color: #222;
	text-decoration: none;
	font-weight: 500;
	margin: 0 20px;
}

/*KEYFRAMES */

@keyframes slideNav {
	0%{
		transform: translateY(100px);
		opacity: 0;
	}

	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideSocial {
	0%{
		transform: translateX(100px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideLogo {
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideMedia {
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideModule {
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideLinha1 {
	0%{
		transform: translateX(300px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideLinha2 {
	0%{
		transform: translateX(-300px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideLinha3 {
	0%{
		transform: translateY(300px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

/*TEXTO PARA PÁGINA INICIAL MÓDULOS*/
.home-modules{
	text-align: center;
	
}

.home-content-modules{
	max-width: 100%;
	animation: slideModule 2s ease forwards;	
}

.home-content-modules a{
	opacity: 0;
	animation: slideModule 2s ease forwards;
	animation-delay: calc(.2s * var(--i));
}

.home-content-modules h1 {
	font-size: 80px;
	line-height: 1.2;
	color: #206CB3;
	margin-bottom: 75px;
}

/*Customização do Card*/
.row {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.card {
	border-radius: 25px;
	box-shadow: 7px 7px 13px 0 rgba(50, 50, 0, .22);
	padding: 20px;
	margin: 20px;
	width: 350px;
	height: 175px;
	border: 2px solid;
	border-color: #206CB3;
	background: transparent;
	color:#206CB3;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.card:hover {
	cursor: pointer;
	color: #eaeaea;
	background: #206CB3;
	
}

.card h2 {
	margin-bottom: 20px;
	text-decoration: none;
}

.card i {
	margin-top: 40px;
	font-size: 50px;
	margin-bottom: 30px;
}

.row div {
	display: block;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
	align-items: center;
}

/*TEXTO PARA PÁGINAS DOS MÓDULOS*/

.home-text{
	width: 100%;
	margin-top: 10rem;
	display: flex;
	align-items: center;
	padding: 50px 8% 0;
}

.home-content-text{
	max-width: 100%;
	opacity: 0;
	animation: slideLogo 1s ease forwards;
	animation-delay: calc(.2s);
}

.home-content-text h1 {
	font-size: 60px;
	line-height: 1.2;
}

.home-content-text h3 {
	font-size: 35px;
	color: #206CB3;
}

.home-content-text p {
	font-size: 16px;
	margin: 15px 0 30px;
	text-align: justify;
}

.home-modules .linha1{
	animation: slideLinha1 1s ease forwards;
	animation-delay: calc(.2s);
}

.home-modules .linha2{
	animation: slideLinha2 1s ease forwards;
	animation-delay: calc(.2s);
}

.home-modules .linha3{
	animation: slideLinha3 1s ease forwards;
	animation-delay: calc(.2s);
}

/*RESPONSIVE*/
@media(max-width: 1210px){
	.navigation,.social-media{
		display: none;
	}

	.btn-menu{
		display: block;
	}

	.dropdown_menu{
		display: block;
	}

	.home-img img {
		display: none;
	}

	.home-content img{
		display: block;
	}
}