@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

header {
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 8%;
	background-color: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

header .fixed{
	position: fixed;
}

body {
	background: #eaeaea;
}

.overflow {
	overflow: hidden;
}

li{
	list-style: none;
}

a {
	text-decoration: none;
}

/*HEADER*/
.logo {
	opacity: 0;
	animation: slideLogo 1s ease forwards;
	animation-delay: calc(.2s);
}

.navigation a{
	display: inline-block;
	font-size: 1.2rem;
	color: #222;
	font-weight: 500;
	margin: 0 20px;
	transition: .3s;
	opacity: 0;
	animation: slideNav 1s ease forwards;
	animation-delay: calc(.2s * var(--i));
}

.navigation a:hover,
.navigation a.active {
	color: #206CB3;
}

.social-media {
	display: flex;
	justify-content: space-between;
	width: 175px;
	height: 40px;
	transition: .3s;
	animation: slideSocial 1s ease forwards;
}

.social-media a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 20px;
	transition: .5s;
}

.social-media a:hover {
	border-color: #206CB3;
	background: #206CB3;
}

.social-media a i {
	font-size: 24px;
	color: black;
}

/*CORPO DA PÁGINA INICIAL*/
.home{
	width: 100vw;
	height: 100vh;
	display: block;
	justify-content: center;
	padding: 8vh 8vw 8vh;
}

.home-content{
	max-width: 45rem;
	opacity: 0;
	animation: slideLogo 1s ease forwards;
	animation-delay: calc(.2s);
}

.home-content h1 {
	font-size: 4.5rem;
	line-height: 1.2;
}

.home-content h3 {
	font-size: 2rem;
	color: #206CB3;
}

.home-content p {
	font-size: 1.3rem;
	margin: 15px 0 30px;
	text-align: justify;
}

.home .home-img {
	position: relative ;
	left: 45rem;
	top: -30rem;
	z-index: -1;
	transition: .3s;
	animation: slideSocial 1s ease forwards;
}

/*ANIMAÇÃO DOS BOTÕES*/
.btn {
	display: inline-block;
	padding: 10px 28px;
	background-color: #206CB3;
	border: 2px solid #206CB3;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
	font-weight: 600;
	transition: .5s;
	margin-bottom: 5px;
}

.btn:hover {
	background: transparent;
	color: #206CB3;
}

.btn-menu {
	font-size: 2rem;
	cursor: pointer;
	display: none;
}

/*DROPDOWN MENU*/
.dropdown_menu{
	display: none;
	position: absolute;
	right: 4rem;
	top: 80px;
	width: 300px;
	height: 0;
	background: rgba(139, 141, 143, 0.1);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	z-index: 100;
}

.dropdown_menu.open{
	height: 350px;
}

.dropdown_menu a:hover,
.dropdown_menu a.active {
	color: #206CB3;
}
.dropdown_menu li{
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown_menu .btn {
	color: #FFF;
}

.dropdown_menu .btn:hover {
	background: transparent;
	color: #206CB3;
}

.dropdown_menu a{
	font-size: 1.2rem;
	color: #222;
	font-weight: 500;
	margin: 0 20px;
}

/*TEXTO PARA PÁGINA INICIAL MÓDULOS*/
.home-modules{
	text-align: center;
	align-items: center;
	margin-bottom: 5rem;
	justify-content: center;
}

.margim {
	margin-bottom: 20rem;
}

.home-content-modules{
	max-width: 100%;
	animation: slideModule 2s ease forwards;	
}

.home-content-modules a{
	opacity: 0;
	animation: slideModule 2s ease forwards;
	animation-delay: calc(.2s * var(--i));
}

.home-content-modules h1 {
	font-size: 80px;
	line-height: 1.2;
	color: #206CB3;
	margin-bottom: 75px;
}

.home-modules .linha1{
	max-width: 100vw;
	animation: slideLinha1 1s ease forwards;
	animation-delay: calc(.2s);
}

.home-modules .linha2{
	animation: slideLinha2 1s ease forwards;
	animation-delay: calc(.2s);
}

.home-modules .linha3{
	animation: slideLinha3 1s ease forwards;
	animation-delay: calc(.2s);
}

/*Customização do Card*/
.row {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
}



.card {
	border-radius: 25px;
	box-shadow: 7px 7px 13px 0 rgba(50, 50, 0, .22);
	padding: 20px;
	margin: 20px;
	width: 300px;
	height: 175px;
	border: 2px solid;
	border-color: #206CB3;
	background: transparent;
	color:#206CB3;
	justify-content: space-evenly;
	text-decoration: none;
}

.card h2{
	text-decoration: none;
}

.card:hover {
	cursor: pointer;
	color: #eaeaea;
	background: #206CB3;
	
}

.card h2 {
	margin-bottom: 20px;
	text-decoration: none;
}

.card i {
	margin-top: 40px;
	font-size: 50px;
	margin-bottom: 30px;
}




/*TEXTO PARA PÁGINAS DOS MÓDULOS*/

section.azul{
	padding-bottom: 130px;
	
}
section.branco{
	padding-bottom: 130px;
}

.azul {
	background: #206CB3;
	max-width: 100%;
}

.azul h1{
	color: #eaeaea;
	text-align: right;
}
.azul p{
	color: #eaeaea;
}

.azul .home-content-text p {
	margin-left: 10rem;
	max-width: 100%;
}

.branco h1 {
	color: #000;
}

.branco .home-content-text p {
	margin-right: 10rem;
	max-width: 100%;
}

.home-text{
	width: 100%;
	display: flex;
	align-items: center;
	padding: 50px 8% 0;
}

.home-content-text{
	max-width: 100%;
}

.home-content-text h1 {
	font-size: 80px;
	line-height: 1.2;
}

.home-content-text p {
	margin: 15px 0 30px;
	font-size: 25px;
	text-align: justify;
}



/*KEYFRAMES */

@keyframes slideNav {
	0%{
		transform: translateY(100px);
		opacity: 0;
	}

	100%{
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slideSocial {
	0%{
		transform: translateX(100px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideLogo {
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideMedia {
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideModule {
	0%{
		transform: translateX(-100px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideLinha1 {
	0%{
		transform: translateX(300px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideLinha2 {
	0%{
		transform: translateX(-300px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideLinha3 {
	0%{
		transform: translateY(300px);
		opacity: 0;
	}

	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

/*RESPONSIVE*/
@media(max-width: 1210px){
	.navigation,.social-media{
		display: none;
	}

	.btn-menu{
		display: block;
	}

	.dropdown_menu{
		display: block;
	}

	.home .home-img {
		left: 0;
		top: -5rem;
	}

	.home-content img{
		display: block;
	}
}

/* Add this at the end of your CSS code */
@media screen and (max-width: 1024px) {
	/* Styles for screens with a maximum width of 768px (e.g., mobile devices) */
  
	/* Adjust the header and navigation for mobile */
	header {
	  padding: 15px 8%;
	}
  
	.logo img {
	  width: 200px;
	  height: auto;
	}
  
	.navigation {
	  display: none;
	}
  
	.social-media {
	  display: none;
	}
  
	.btn-menu {
	  display: block;
	}
  
	.dropdown_menu {
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: center;
	  width: 100%;
	  top: 70px;
	  right: 0;
	}
  
	.dropdown_menu li {
	  padding: 0.7rem;
	  width: 100%;
	  text-align: center;
	}
  
	.home-modules .linha1,
	.home-modules .linha2,
	.home-modules .linha3 {
	  flex-direction: column;
	  align-items: center;
	}
  
	.card {
	  width: 90%;
	  margin: 10px;
	}

	.home-modules{
		margin: 0 2rem 10rem;
	}

	.home-content-modules h1{
		font-size: 50px;
	}
  	
	.card {
		border-radius: 25px;
		box-shadow: 7px 7px 13px 0 rgba(50, 50, 0, .22);
		padding: 20px;
		margin: 20px;
		width: 300px;
		height: 175px;
		border: 2px solid;
		border-color: #206CB3;
		background: transparent;
		color:#206CB3;
		justify-content: space-evenly;
		text-decoration: none;
	}

	.card h2{
		text-decoration: none;
	}

	.card:hover {
		cursor: pointer;
		color: #eaeaea;
		background: #206CB3;
	}

	.card h2 {
		margin-bottom: 20px;
		text-decoration: none;
	}

	.card i {
		margin-top: 40px;
		font-size: 50px;
		margin-bottom: 30px;
	}
	
	/* Adjust the text sections for mobile */
	.home-content-text p {
		margin-left: 0;
		margin-right: 0;
	}

	.home-content-text p {
		font-size: 15px;
		text-align: justify;
	}
	  
	.branco .home-content-text p {
		margin-right: 0px;
	}

	.azul .home-content-text p {
		margin-left: 0px;
	}

	section.branco,section.azul{
		padding-bottom: 30px;
	}

	.home-content-text h1 {
		font-size: 40px;
		line-height: 1.2;
	}

	
	

	.home{
	width: 100vw;
	height: 100vh;
	display: block;
	justify-content: center;
	padding: 8vh 8vw 8vh;
}

.home-content{
	max-width: 45rem;
	opacity: 0;
	animation: slideLogo 1s ease forwards;
	animation-delay: calc(.2s);
}

.home-content h1 {
	font-size: 4.5rem;
	line-height: 1.2;
}

.home-content h3 {
	font-size: 2rem;
	color: #206CB3;
}

.home-content p {
	font-size: 1.3rem;
	margin: 15px 0 30px;
	text-align: justify;
}

.home .home-img {
	position: relative ;
	left: 45rem;
	top: -30rem;
	z-index: -1;
	transition: .3s;
	animation: slideSocial 1s ease forwards;
}


} 